<section>
  <div class="navigation z-50 shadow-2xl">
    <div class="menuToggle"></div>
    <ul class="mt-14">
      <li class="list" style="--clr: #0f2331">
        <a href="/user/admin">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="list" style="--clr: #A61F69">
        <a href="/user/admin/deposit"><span class="icon"><ion-icon name="add-circle-outline"></ion-icon></span>
          <span class="text">Deposit</span>
        </a>
      </li>
      <li class="list" style="--clr: #d4af37">
        <a href="/user/admin/user"><span class="icon"><ion-icon name="people-outline"></ion-icon></span>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="list" style="--clr: #3c6255">
        <a href="/user/admin/withdraw"><span class="icon"><ion-icon name="share-outline"></ion-icon></span>
          <span class="text">Withdraw</span>
        </a>
      </li>
      <li class="list" style="--clr: #ffa117">
        <a href="/user/admin/referral"> <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
          <span class="text">Referrals</span>
        </a>
      </li>
      <li class="list" style="--clr: #31286e">
        <!-- <a href=""><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="text">Log Out</span>
          </a> -->
        <form action="" method="post">
          <button type="submit"><span class="icon text-3xl ml-4"><ion-icon name="log-out-outline"></ion-icon></span></button>
        </form>
      </li>
    </ul>
  </div>
</section>