<div class="flex flex-col w-4/5 mt-20 items-center justify-center space-y-8 m-auto bg-brightBlue rounded-2xl p-6">
    <h4 class="text-lightGray text-xl font-bold md:text-2xl">Fast And Reliable Depositing And Withdrawal Option.</h4>
    <div class="container flex flex-row items-center justify-evenly md:space-x-8">
      <img class="h-12 opacity-70 hover:opacity-100" src="../Images/bitcoin.png" alt="This is an icon.">
      <img class="h-12 opacity-70 hover:opacity-100" src="../Images/ethereum.png" alt="This is an icon.">
      <img class="h-12 opacity-70 hover:opacity-100" src="../Images/litecoin.png" alt="This is an icon.">
      <img class="h-12 opacity-70 hover:opacity-100" src="../Images/bnb.png" alt="This is an icon.">
      <img class="h-12 opacity-70 hover:opacity-100" src="../Images/tether.png" alt="This is an icon.">
    </div>
  </div>