<section class="navigation">
    <div class="menuToggle">
        <span role="button"></span>
    </div>
    <div class="">
        <ul class="mt-14">
            <li class="list" style="--clr: #0f2331">
                <a href="/user/dashboard">
                    <span class="icon"><ion-icon class="icon" name="home-outline"></ion-icon></span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="list" style="--clr: #A61F69">
                <a href="/user/deposit"><span class="icon"><ion-icon name="add-circle-outline"></ion-icon></span>
                    <span class="text">Deposit</span>
                </a>
            </li>
            <li class="list" style="--clr: #d4af37">
                <a href="/user/invest"><span class="icon"><ion-icon name="download-outline"></ion-icon></span>
                    <span class="text">Invest</span>
                </a>
            </li>
            <li class="list" style="--clr: #3c6255">
                <a href="/user/withdraw"><span class="icon"><ion-icon name="share-outline"></ion-icon></span>
                    <span class="text">Withdraw</span>
                </a>
            </li>
            <li class="list" style="--clr: #0f2356">
                <a href="/user/transactions"><span class="icon"><ion-icon name="receipt-outline"></ion-icon></span>
                    <span class="text">History</span>
                </a>
            </li>
            <li class="list" style="--clr: #ff4500">
                <a href="/user/profile"><span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">My Profile</span>
                </a>
            </li>
            <li class="list" style="--clr: #2196f3">
                <a href="/support"><span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                    <span class="text">Get Support</span>
                </a>
            </li>
            <li class="list" style="--clr: #ffa117">
                <a href="/user/referral"><span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="text">My Referral</span>
                </a>
            </li>
            <li class="list" style="--clr: #31286e">
                <!-- <a href=""><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="text">Log Out</span>
          </a> -->
                <form action="/user/logout" method="post">
                    <button type="submit"><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        Logout</button>
                </form>
            </li>
        </ul>
    </div>
</section>