<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../Images/Logo.png" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>
  <script defer src="../JS/dashboard.js"></script>
  <script defer src="../JS/getDepositData.js"></script>
</head>

<body class="bg-darkNavy">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const depositStatus = document.querySelector('.deposit-status').textContent.trim()

      console.log(depositStatus);


      if (depositStatus === 'success') {
        swal({
          icon: "success",
          title: "Success",
          text: "Your request has been summitted successfully",
          button: "Go To dashboard"
        })
      } else if (depositStatus === 'fail') {
        swal({
          icon: "error",
          title: "Failed",
          text: "Deposit failed, please try again later",
          buttons: ["Retry", "Go To Dashboard"]
        })
      }
    })
  </script>
  <%- include ("partials/sidebar"); -%>
    <p class="deposit-status" hidden>
      <%= status %>
    </p>
    <form action="/user/deposit" method="post">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row justify-center space-x-4 items-center mt-32">
          <div class="w-4 h-4 rounded-full bg-veryDarkWhite"></div>
          <div class="w-4 h-4 rounded-full bg-gray-600"></div>
        </div>
        <div class="text-center text-gold mt-10">
          <h1 class="text-2xl font-bold md:text-4xl">Make A Deposit</h1>
          <h4 class="text-sm mt-10 text-gray-500 md:text-base">
            Choose The Type Of Deposit
          </h4>
        </div>
        <div class="custom-select mt-2 ml-14 md:ml-0 w-72 md:w-96">
          <select name="medium">
            <option value="Bitcoin" selected>Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Tron">Tron(TRX)</option>
            <option value="BNB BEP2">BNB(BEP2)</option>
            <option value="BNB BEP20">BNB(BEP20)</option>
            <option value="USDT  ERC20">USDT ERC20</option>
            <option value="USDT TRC20">USDT TRC20</option>
          </select>
        </div>
        <div class="mt-10">
          <h4 class="text-sm text-center text-gray-500 md:text-base">
            Amount To Deposit
          </h4>
          <input class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm ml-14 md:ml-0 w-72 md:w-96"
            type="number" name="amount" id="amount" placeholder="Minimum Of $200 " required min="100" />
        </div>
        <button type="submit" class="px-10 ml-4 py-3 mt-10 duration-700 bg-gold hover:bg-white hover:text-gold">
          Deposit
        </button>
      </div>
    </form>
    <%- include ("partials/script"); -%>
      <script src="../JS/deposit.js"></script>
</body>

</html>