<style>
  .p {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .r {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.4s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .i1 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.6s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .m {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.8s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .e1 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .f {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .i2 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.4s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .n1 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.6s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .a {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.8s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .n2 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 2.0s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .c {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 2.2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .e2 {
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 2.4s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .d1 {
    color: black;
    opacity: 0;
    animation: pass1 2s ease-in-out infinite;
    animation-delay: 2.6s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  .d2 {
    color: black;
    opacity: 0;
    animation: pass1 2s ease-in-out infinite;
    animation-delay: 2.8s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }

  @keyframes pass {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes pass1 {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

<div class="loader">
  <span class="p">P</span>
  <span class="r">r</span>
  <span class="i1">i</span>
  <span class="m">m</span>
  <span class="e1">e</span>
  <span class="F">F</span>
  <span class="i2">i</span>
  <span class="n1">n</span>
  <span class="a">a</span>
  <span class="n2">n</span>
  <span class="c">c</span>
  <span class="e2">e</span>
  <span class="d1">.</span>
  <span class="d2">.</span>
</div>