<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../Images/Logo.png" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../CSS/main.css" />
</head>

<body class="bg-darkGray">
    <section id="main-section" class="m-0 p-0 relative min-h-[100vh] min-w-[100vw]">
        <form method="post"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 bg-slate-300 grid rounded-sm min-w-[90%] sm:min-w-[70%] md:min-w-[30rem]">
            <input type="text" class="p-2 mb-3 focus:outline-none" placeholder="New Password" name="passworc">
            <input type="text" class="p-2 mb-3 focus:outline-none" placeholder="Confirm New Password"
                name="confirmPassword">
            <input type="hidden" name="resetToken" value="<%=resetToken%>">
            <button type="submit" class="p-3">Confirm</button>
        </form>
    </section>
    <script src="../JS/form.js"></script>
</body>

</html>