<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link
  rel="shortcut icon"
  href="../Images/logo.ico"
  type="image/x-ico"
/>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
       <!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
  <script defer src="../JS/load.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>
  <script defer src="../JS/withdrawal.js"></script>
   <!-- Jivo Chat -->
   <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
</head>

<body class="bg-darkGray main">
  <%- include ("partials/sidebar"); -%>
    <section>
      <div class="flex flex-col justify-center items-center">
        <div class="text-center text-brightBlue mt-32">
          <h1 class="text-2xl font-bold md:text-4xl">Make A Withdrawal</h1>
          <h4 class="text-sm mt-4 text-darkBlue md:base">
            Account Balance <span class="text-base ml-1 text-brightBlue md:text-xl">
              $<%= user.balance %>

            </span>
          </h4>
        </div>
        <div>
          <h4 class="text-sm mt-10 text-darkBlue md:base">
            Choose Type Of Withdrawal
          </h4>
        </div>
        <p class="withdrawal-status" hidden>
          <%=status%>
        </p>
        <form onsubmit="displayLoader()" action="/user/withdraw" method="post" class="mx-auto flex flex-col items-center justify-center">
          <div class="custom-select mt-2 w-72 md:w-96 border-2 border-brightBlue rounded-xl">
            <select name="wallet">
              <option value="">Choose Your Wallet</option>
              <option value="Bitcoin">Bitcoin</option>
              <option value="Ethereum">Ethereum</option>
              <option value="Bitcoin Cash">Bitcoin Cash</option>
              <option value="Tron">Tron(TRX)</option>
              <option value="BNB (BEP2)">BNB(BEP2)</option>
              <option value="BNB (BEP20)">BNB(BEP20)</option>
              <option value="USDT (ERC20)">USDT ERC20</option>
              <option value="USDT (TRC20)">USDT TRC20</option>
            </select>
          </div>
          <div class="mt-4">
            <h4 class="text-sm text-center text-darkBlue md:base">
              Amount To Withdraw
            </h4>
            <input class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="number" name="amount" id="amount" placeholder="Minimum Of $5" min="5" required />
            <h4 class="text-sm mt-4 text-center text-darkBlue md:base">
              Wallet Address
            </h4>
            <input class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="text" name="address" id="address" placeholder="Input Your Wallet Address" required />
          </div>
          <button type="submit"
            class="px-10 py-3 mt-10 duration-700 text-lightGray bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray hover:text-darkBlue flex items-center disabled:opacity-50 disabled:cursor-not-allowed load">
            Withdraw
          </button>
        </form>
      </div>
    </section>
    <%- include ("partials/script"); -%>
      <script src="../JS/deposit.js"></script>
</body>

</html>